version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0 
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    # Healthcheck: Le dice a Docker si Zookeeper está vivo
    healthcheck:
      test: echo srvr | nc localhost 2181 || exit 1
      interval: 10s
      retries: 5
      start_period: 5s

  kafka:
    image: confluentinc/cp-kafka:7.4.0 
    container_name: kafka
    restart: always
    depends_on:
      zookeeper:
        condition: service_healthy # Kafka NO arranca hasta que ZK esté verde
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      # Explicitamos dónde escuchar para evitar errores de red
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      # Memoria ajustada para que no explote tu RAM
      KAFKA_HEAP_OPTS: "-Xmx400M -Xms400M"

  postgres:
    image: postgres:15-alpine
    container_name: postgres_users
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: users_db
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: